html {
    font-size: 18px;
    font-family: 'Russo One', sans-serif;
}

#main-wrapper {
    width: 375px;
    height: 600px;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
