/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

html {
    font-size: 18px;
}

#main-wrapper {
    width: 375px;
    height: 600px;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
}