html {
    font-size: 18px;
    color: var(--white-color);
    background-color: #1a2631;
    background-image: linear-gradient(135deg, #19242e 25%, transparent 25%),
        linear-gradient(225deg, #19242e 25%, transparent 25%),
        linear-gradient(45deg, #19242e 25%, transparent 25%),
        linear-gradient(315deg, #19242e 25%, #1a2631 25%);
    background-position:
        10px 0,
        10px 0,
        0 0,
        0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
    box-sizing: border-box;
    user-select: none;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

#main-wrapper {
    background-color: white;
    width: 375px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    border-radius: 10px;
}

.game-header {
  padding-bottom: 1px;
  height: 1.6rem;
  color: white;
  background-color: var(--primary);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1rem;
  padding-right: 1rem;

  & .turn-count {
    font-size: 14px;
  }
}

.game-body {
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.current-location {
    text-align: center;
}

.buttons {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.message {
    text-align: center;
    margin-top: 0.5rem;
    height: 19px;
    font-weight: bold;
}

.turn-wipe {
    background-color: var(--info);
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.8s ease;
    z-index: 20;
    border-radius: 10px;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 0, 0% 0, -200px 100%, 0 100%);

    color: white;
    font-size: 2rem;
}

.turn-wipe.wipe {
    clip-path: polygon(0 0, calc(100% + 200px) 0, 100% 100%, 0 100%);
}
