.galleon {
    width: 120px;
    position: relative;
}

.name {
    text-align: left;
    white-space: nowrap;
}

.nameFacingLeft {
    text-align: right;
}

.face {
    position: absolute;
    font-size: 2rem;
    top: 54%;
    left: 12%;
}

.facingLeft {
    transform: scaleX(-1);
}
