.galleon {
    width: 120px;
    position: relative;
}

.name {
    text-align: left;
    font-size: 0.8rem;
    line-height: 0.9rem;
    text-align: center;
}

.face {
    position: absolute;
    font-size: 2rem;
    top: 54%;
    left: 12%;
}

.facingLeft {
    transform: scaleX(-1);
}
