.galleon {
    width: 120px;
    position: relative;
}

.name {
    font-size: 0.8rem;
    line-height: 0.9rem;
    text-align: center;
    height: 30px;
    display: flex;
    align-items: flex-end;
    word-break: break-all;
}

.face {
    position: absolute;
    font-size: 2rem;
    top: 54%;
    left: 12%;
}

.facingLeft {
    transform: scaleX(-1);
}
