.gameStatus {
    position: relative;
    display: grid;
    grid-template-columns: auto 130px;
}

.cash {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 1.8rem;
}
