.game-status {
    position: relative;
    margin-bottom: 1rem;

    & .label {
        display: inline-block;
        width: 60px;
    }
    
    & .right {
        position: absolute;
        top: 0;
        right: 0;
    }

    & .right-item {
        display: flex;

        & .right-label {
            width: 40px;
            text-align: left;
        }

        & .right-content {
            width: 80px;
            text-align: right;
        }
    }
}
