.game-status {
    position: relative;
    margin-bottom: 0.6rem;

    .cash {
        display: flex;
        align-items: center;
        font-size: 1.4rem;
        height: 32px;
    }

    & .right {
        position: absolute;
        top: 0;
        right: 0;
    }
}
