.gameHeader {
    display: grid;
    grid-template-columns: auto 80px;
    padding-bottom: 1px;
    height: 1.6rem;
    color: white;
    background-color: var(--primary);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.options {
    display: flex;
    align-items: center;
    justify-content: left;
}

.turn {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: right;
}

.town {
    display: flex;
    align-items: center;
    justify-content: left;
}

.icon {
    cursor: pointer;
    margin-right: var(--space-unit);
}
