:root {
    --space-unit: 1rem;
    --space-xxs: calc(0.25 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));

    --color-1: #170087;
    --color-2: #005dcd;
    --color-3: #49dbf2;
    --color-4: #9bf2f9;
    --color-5: #f2ffff;
    
    --turquoise: #1abc9c;
    --peter-river: #3498db;
    --amethyst: #9b59b6;
    --wet: #34495e;
    --green-sea: #16a085;
    --nephritis: #27ae60;
    --belize-hole: #2980b9;
    --wisteria: #8e44ad;
    --midnight: #2c3e50;
    --sun-flower: #f1c40f;
    --carrot: #e67e22;
    --alizarin: #e74c3c;
    --clouds: #ecf0f1;
    --conc: #95a5a6;
    --orange: #f39c12;
    --pumpkin: #d35400;
    --pomme: #c0392b;
    --silver:  #bdc3c7;
    --asbe: #7f8c8d;

    /* Colors */
    --primaryH: 168;
    --primaryS: 76%;
    --primaryL: 36%;
    /* --primaryH: 210;
    --primaryS: 50%;
    --primaryL: 40%; */
    --primary-bg: #fff;
    --secondaryH: 0;
    --secondaryS: 0%;
    --secondaryL: 13%;
    --secondary-bg: #fff;
    /* Font */
    --font-family: Helvetica, Arial, sans-serif;
    --font-size-root: 16px;
    --font-weight-bolder: 700;
    --font-weight-bold: 400;
    --font-weight-normal: 200;
    --font-weight-thin: 100;
    --line-height: 1.75rem;
    --heading-margin: 1.5rem 0 1rem;
    /* Inputs */
    --border-radius: 2px;
    /* Calculated colors */
    --primary: hsl(var(--primaryH), var(--primaryS), var(--primaryL));
    --primary-bright: hsl(var(--primaryH), calc(var(--primaryS) * 1.25), 90%);
    --primary-transparent: hsla(
        var(--primaryH),
        var(--primaryS),
        var(--primaryL),
        0.05
    );
    --primary-dark: hsl(
        var(--primaryH),
        var(--primaryS),
        calc(var(--primaryL) * 0.5)
    );
    --primary-darker: hsl(
        var(--primaryH),
        var(--primaryS),
        calc(var(--primaryL) * 0.2)
    );
    --primary-light: hsl(var(--primaryH), var(--primaryS), 75%);
    --primary-lighter: hsl(var(--primaryH), var(--primaryS), 96%);
    --secondary: hsl(var(--secondaryH), var(--secondaryS), var(--secondaryL));
    --secondary-transparent: hsl(
        var(--secondaryH),
        var(--secondaryS),
        var(--secondaryL),
        0.05
    );
    --secondary-dark: hsl(
        var(--secondaryH),
        var(--secondaryS),
        calc(var(--secondaryL) * 0.5)
    );
    --secondary-darker: hsl(
        var(--secondaryH),
        var(--secondaryS),
        calc(var(--secondaryL) * 0.2)
    );
    --secondary-light: hsl(var(--secondaryH), var(--secondaryS), 75%);
    --secondary-lighter: hsl(var(--secondaryH), var(--secondaryS), 96%);
    
    --secondary-light2: hsl(var(--secondaryH), var(--secondaryS), 88%);
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: var(--secondary-bg);
    color: var(--secondary);
    font-family: var(--font-family);
    font-size: var(--font-size-root);
    font-weight: var(--font-weight-normal);
    margin: 0;
    padding: 0;
    color: var(--white-color);
    /* background-color: #1a2631;
    /** Waves background pattern  */
    /*
    background-image: linear-gradient(135deg, #19242e 25%, transparent 25%),
        linear-gradient(225deg, #19242e 25%, transparent 25%),
        linear-gradient(45deg, #19242e 25%, transparent 25%),
        linear-gradient(315deg, #19242e 25%, #1a2631 25%);
    background-position:
        10px 0,
        10px 0,
        0 0,
        0 0;
    background-size: 20px 20px;
    background-repeat: repeat; */
    box-sizing: border-box;
    user-select: none;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

table {
    background-color: var(--secondary-bg);
    border: 1px solid var(--secondary-light);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

thead {
    border-bottom: 1px solid var(--secondary-light);
    opacity: 0.7;
}

tfoot {
    border-top: 1px solid var(--secondary-light);
}

tbody tr:nth-child(even) {
    background-color: var(--secondary-lighter);
}

tbody tr:hover {
    background-color: var(--primary-lighter);
}

td,
th {
    padding: 0.5rem;
    vertical-align: top;
}

th {
    font-weight: var(--font-weight-normal);
    color: var(--secondary);
    text-align: left;
    font-size: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    appearance: button;
    background-color: var(--primary);
    border: 1px solid var(--primary);
    border-radius: var(--border-radius);
    box-sizing: border-box;
    color: var(--primary-bg);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8rem;
    font-weight: var(--font-weight-bold);
    margin: 0;
    max-width: auto;
    min-height: 2.5rem;
    min-width: auto;
    overflow: visible;
    padding: 0 1rem;
    text-transform: uppercase;
}
button[disabled],
button:disabled,
input[type="button"][disabled],
input[type="button"]:disabled,
input[type="reset"][disabled],
input[type="reset"]:disabled,
input[type="submit"][disabled],
input[type="submit"]:disabled {
    background: var(--secondary-lighter);
    border: 1px solid var(--secondary-lighter);
    color: var(--secondary-light);
}
button:not(:disabled):not([disabled]):hover,
input[type="button"]:not(:disabled):not([disabled]):hover,
input[type="reset"]:not(:disabled):not([disabled]):hover,
input[type="submit"]:not(:disabled):not([disabled]):hover {
    background-color: var(--primary-dark);
    border: 1px solid transparent;
}

button:not(:disabled):not([disabled]).cancel:hover {
    background-color: var(--primary-bright);
    border: 1px solid var(--primary);
}

/********************************************/

.screenTitle {
    text-align: center;
}

.cancel {
    background-color: var(--white-color);
    color: var(--primary);
}

.buttons {
    margin-top: var(--space-sm);
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.turn-wipe {
    background-color: var(--info);
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.8s ease;
    z-index: 20;
    border-radius: 10px;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 0, 0% 0, -200px 100%, 0 100%);

    color: white;
    font-size: 2rem;
}

.turn-wipe.wipe {
    clip-path: polygon(0 0, calc(100% + 200px) 0, 100% 100%, 0 100%);
}

.pound-sign {
    color: #eebc1d;
    display: inline-block;
    padding-right: 2px;
}

.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
  