:root {
    --space-unit: 1rem;
    --space-xxs: calc(0.25 * var(--space-unit));
    --space-xs: calc(0.5 * var(--space-unit));
    --space-sm: calc(0.75 * var(--space-unit));
    --space-md: calc(1.25 * var(--space-unit));
    --space-lg: calc(2 * var(--space-unit));
    --space-xl: calc(3.25 * var(--space-unit));
    --space-xxl: calc(5.25 * var(--space-unit));

    --color-1: #170087;
    --color-2: #005dcd;
    --color-3: #49dbf2;
    --color-4: #9bf2f9;
    --color-5: #f2ffff;

    --turquoise: #1abc9c;
    --peter-river: #3498db;
    --amethyst: #9b59b6;
    --wet: #34495e;
    --green-sea: #16a085;
    --nephritis: #27ae60;
    --belize-hole: #2980b9;
    --wisteria: hsl(282, 44%, 47%);
    --midnight: #2c3e50;
    --sun-flower: #f1c40f;
    --carrot: #e67e22;
    --alizarin: #e74c3c;
    --clouds: #ecf0f1;
    --conc: #95a5a6;
    --orange: #f39c12;
    --pumpkin: #d35400;
    --pomme: #c0392b;
    --silver: #bdc3c7;
    --asbe: #7f8c8d;

    /* Colors */
    --primaryH: 210;
    --primaryS: 50%;
    --primaryL: 40%;
    --primary-bg: #fff;
    --secondaryH: 0;
    --secondaryS: 0%;
    --secondaryL: 13%;
    --secondary-bg: #fff;
    /* Font */
    --font-family: Helvetica, Arial, sans-serif;
    --font-size-root: 16px;
    --font-weight-bolder: 700;
    --font-weight-bold: 400;
    --font-weight-normal: 200;
    --font-weight-thin: 100;
    --line-height: 1.75rem;
    --heading-margin: 1.5rem 0 1rem;
    /* Inputs */
    --border-radius: 2px;
    /* Calculated colors */
    --primary: hsl(var(--primaryH), var(--primaryS), var(--primaryL));
    --primary-bright: hsl(var(--primaryH), calc(var(--primaryS) * 1.25), 90%);
    --primary-transparent: hsla(
        var(--primaryH),
        var(--primaryS),
        var(--primaryL),
        0.05
    );
    --primary-dark: hsl(
        var(--primaryH),
        var(--primaryS),
        calc(var(--primaryL) * 0.5)
    );
    --primary-darker: hsl(
        var(--primaryH),
        var(--primaryS),
        calc(var(--primaryL) * 0.2)
    );
    --primary-light: hsl(var(--primaryH), var(--primaryS), 75%);
    --primary-lighter: hsl(var(--primaryH), var(--primaryS), 96%);
    --secondary: hsl(var(--secondaryH), var(--secondaryS), var(--secondaryL));
    --secondary-transparent: hsl(
        var(--secondaryH),
        var(--secondaryS),
        var(--secondaryL),
        0.05
    );
    --secondary-dark: hsl(
        var(--secondaryH),
        var(--secondaryS),
        calc(var(--secondaryL) * 0.5)
    );
    --secondary-darker: hsl(
        var(--secondaryH),
        var(--secondaryS),
        calc(var(--secondaryL) * 0.2)
    );
    --secondary-light: hsl(var(--secondaryH), var(--secondaryS), 75%);
    --secondary-lighter: hsl(var(--secondaryH), var(--secondaryS), 96%);
    --secondary-lighter92: hsl(var(--secondaryH), var(--secondaryS), 92%);

    --secondary-light2: hsl(var(--secondaryH), var(--secondaryS), 80%);
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: var(--secondary-bg);
    color: var(--secondary);
    font-family: var(--font-family);
    font-size: var(--font-size-root);
    font-weight: var(--font-weight-normal);
    margin: 0;
    padding: 0;
    color: var(--white-color);
    background-color: #1a2631;
    /** Waves background pattern  */
    background-image: linear-gradient(135deg, #19242e 25%, transparent 25%),
        linear-gradient(225deg, #19242e 25%, transparent 25%),
        linear-gradient(45deg, #19242e 25%, transparent 25%),
        linear-gradient(315deg, #19242e 25%, #1a2631 25%);
    background-position:
        10px 0,
        10px 0,
        0 0,
        0 0;
    background-size: 20px 20px;
    background-repeat: repeat;
    box-sizing: border-box;
    user-select: none;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

table {
    background-color: var(--secondary-bg);
    border: 1px solid var(--secondary-light);
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

thead {
    border-bottom: 1px solid var(--secondary-light);
    opacity: 0.7;
}

tfoot {
    border-top: 1px solid var(--secondary-light);
}

tbody tr:nth-child(even) {
    background-color: var(--secondary-lighter);
}

tbody tr:hover {
    background-color: var(--primary-lighter);
}

td,
th {
    padding: 0.5rem;
    vertical-align: top;
}

th {
    font-weight: var(--font-weight-normal);
    color: var(--secondary);
    text-align: left;
    font-size: 0.8rem;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}


.button {
    display: inline-block;
    line-height: normal;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    -webkit-user-drag: none;
    user-select: none;
    box-sizing: border-box;
    font-family: inherit;
    font-size: 100%;
    padding: 0.5em 1em;
    color: rgba(0, 0, 0, 0.8);
    border: none rgba(0, 0, 0, 0);
    background-color: #e6e6e6;
    text-decoration: none;
    border-radius: 2px;
}

.button-hover,
.button:hover,
.button:focus {
    background-image: linear-gradient(
        transparent,
        rgba(0, 0, 0, 0.05) 40%,
        rgba(0, 0, 0, 0.1)
    );
}
.button:focus {
    outline: 0;
}
.button-active,
.button:active {
    box-shadow:
        0 0 0 1px rgba(0, 0, 0, 0.15) inset,
        0 0 6px rgba(0, 0, 0, 0.2) inset;
    border-color: #000;
}

.button[disabled],
.button-disabled,
.button-disabled:hover,
.button-disabled:focus,
.button-disabled:active {
    border: none;
    background-image: none;
    opacity: 0.4;
    cursor: not-allowed;
    box-shadow: none;
    pointer-events: none;
}

.button-hidden {
    display: none;
}

.button-primary,
.button-selected,
a.button-primary,
a.button-selected {
    background-color: rgb(0, 120, 231);
    color: #fff;
}

/* Button Groups */
.button-group .button {
    margin: 0;
    border-radius: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.button-group .button:first-child {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}
.button-group .button:last-child {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    border-right: none;
}

/* Firefox: Get rid of the inner focus border */
.button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

.buttons {
    margin-top: var(--space-sm);
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.turn-wipe {
    background-color: var(--info);
    display: flex;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 1rem;
    position: absolute;
    transition: all 0.8s ease;
    z-index: 20;
    border-radius: 10px;

    align-items: center;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 0, 0% 0, -200px 100%, 0 100%);

    color: white;
    font-size: 2rem;
}

.turn-wipe.wipe {
    clip-path: polygon(0 0, calc(100% + 200px) 0, 100% 100%, 0 100%);
}


.shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
