.wrapper {
    height: 20px;
    overflow: hidden;
    text-align: center;
}

.msgWrapper {
    display: inline-flex;
}

.icon {
    padding-right: var(--space-xs);
}

.message {
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    width: 100%;
}

.animateWrapper {
    height: 20px;
    overflow: hidden;
}

.currentMsg {
    transform: translateY(-100%);
}

.nextMsg {
    transform: translateY(-100%);
}

.scrollDown {
    transition: all 1.5s ease;
    transform: translateY(0%);
}
