.seaBattle {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.rhs {
    display: flex;
    justify-content: right;
}

.messages {
    text-align: center;
    max-height: 200px;
    overflow-y: hidden;
}

.message {
    opacity: 0.7;
    margin-bottom: 0.2rem;
}

.topMessage {
    opacity: 1;
    font-weight: bold;
}