.gameStatusWrap {
    margin-bottom: var(--space-sm);
}

.actions {
    text-align: center;
}

.teaTableWrap {
    margin-top: var(--space-sm);
    margin-bottom: var(--space-sm);
}


.footer {
    margin-top: var(--space-sm);
    text-align: center;
}

.debugBtn {
    font-size: 0.6rem;
    cursor: pointer;
}